[Desktop Entry]
Version=1.0
Name=sokketter-ui
Comment=A simple UI application for controlling the connected power strips and sockets.
Exec=sokketter-ui %u
Icon=sokketter-ui-icon
Terminal=false
Type=Application
Categories=Utility;

# Optional fields
X-AppImage-Version=1.0
X-AppImage-Arch=x86_64
X-AppImage-Name=sokketter-ui
